@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Red+Hat+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans" !important;
}

a {
  text-decoration: none;

  color: gray;
}

a:hover {
  text-decoration: underline;
}

.icon:hover {
  color: "brown";
  cursor: pointer;
}

.animation:hover {
  --tw-rotate: -2deg;
}

.bracket {
  margin-bottom: -1.9rem;
}

@keyframes typing {
  0% {
    width: 0;
    visibility: hidden;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }

  100% {
    border-color: #fff;
  }
}

.animate-typing {
  animation: typing 2s steps(20) infinite alternate, blink 0.7s infinite;
}

.work_card:hover {
  rotate: -3deg;
  transition: all ease-in-out 0.3s;
}
